.modal-otp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(8px);
}

.modal-content-otp {
  background: linear-gradient(250deg, #EDECFF, #7E7BFF);
  padding: 20px;
  border-radius: 50px;
  width: 750px;
  height: 550px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  display: flex;
  box-shadow: -8.96px 5.48px 3.1px 0px rgba(0, 0, 0, 0.3);
}

.log-cls-otp {
  position: relative;
  top: 0px;
  left: 680px;
  height: 30px;
  width: 40px;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  border: none;
}

.modal-message-otp {
  display: flex;
  flex-direction: column;
  margin: auto 0px;
}

.modal-message-otp h2 {
  font-size: 35px;
}

.msg-line-otp {
  display: flex;
  margin-top: 20px;
}

.msg-line-otp p {
  border: 3px solid black;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  width: 140px;
  margin-right: 20px;
}

.line-page-otp {
  height: 0;
  margin: auto;
  border: 1px dashed black;
  width: 170px;
}

.e1img-otp {
  z-index: -10;
  position: absolute;
  transform: translateY(-170px) scale(0.8);
  top: 120px;
  left: -90px;
}
.e2img-otp {
  z-index: -10;
  position: absolute;
  transform: translateY(-170px) scale(0.8);
  bottom: -220px;
  right: -40px;

}

.div-otp {
  justify-content: center;
  border-radius: 27.581px;
  border: 0.62px solid #fff;
  background: linear-gradient(321deg,
      rgba(0, 0, 0, 0.04) 5.98%,
      rgba(0, 0, 0, 0) 66.28%),
    rgba(255, 255, 255, 0.25);
  box-shadow: -4.96px 2.48px 3.1px 0px rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(30.999361038208008px);
  display: flex;
  max-width: 300px;
  flex-direction: column;
  padding: 23px 25px;
  height: 450px;
  margin-top: 30px;
}

.div-2-otp {
  color: #000;
  font: 600 22px Noto Sans, sans-serif;
}

.div-3-otp {
  color: #000;
  font: 500 10px Noto Sans, sans-serif;
}

.input-field-otp {
  border-radius: 7.44px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  margin-top: 12px;
  color: #000;
  white-space: nowrap;
  justify-content: center;
  font: 400 12px Noto Sans, sans-serif;
  background-color: transparent;
  padding: 9px 10px;
  font-weight: 600;
}

/* .div-5-signup {
    justify-content: space-between;
    
    color: #000;
  }
  .div-6-signup {
    font-family: Noto Sans, sans-serif;
    background-color: transparent;
    border-radius: 7.44px;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    display: flex;
    margin-top: 15px;
    gap: 6px;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
    padding: 9px 10px;
    width: 250px;
  } */

.div-9-otp {
  justify-content: center;
  align-items: center;
  border-radius: 7.44px;
  background: linear-gradient(91deg,
      #628eff 9.91%,
      #8740cd 53.29%,
      #580475 91.56%);
  margin-top: 15px;
  color: var(--Primary, #fff);
  white-space: nowrap;
  padding: 9px 6px;
  font: 600 12px Noto Sans, sans-serif;
}

.div-17-otp {
  justify-content: space-between;
  border-radius: 3.72px;
  background: linear-gradient(180deg,
      rgba(98, 98, 98, 0) 0%,
      rgba(98, 98, 98, 0.07) 100%);
  display: flex;
  margin-top: 15px;
  gap: 19px;
  font-size: 10px;
  color: #000;
  font-weight: 400;
  padding: 2px 4px;
}

.div-18-otp {
  font-family: Noto Sans, sans-serif;
  font-size: 10px;
}

.div-19-otp {
  font-family: Noto Sans, sans-serif;
  font-size: 10px;
}

.div-20-otp {
  font-family: Noto Sans, sans-serif;
  font-size: 10px;
}
.spinner {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   border: 9px solid;
   border-color: #dbdcef;
   border-right-color: #96dce6;
   animation: spinner-d3wgkg 0.8s infinite linear;
}

@keyframes spinner-d3wgkg {
   to {
      transform: rotate(1turn);
   }
}

.otp-input {
  width: 70px;
  height: 40px;
  /* margin: 5px; */
  font-size: 18px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.otp-separator {
  font-size: 24px;
  margin: 0 5px;
}
